*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Hanuman', serif;
    font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
.container{
    padding: 0 70px !important;
}
/* -------------------------------------------------------- root css- --------------------------------------------- */
:root{
    --background-color: #07b1f4;
    --gray-text: #54595F;
}

.header-top a{
    color: white !important;
}
nav{
    background-color: #009EDE;
}
nav a{
    color: white !important;
}
.nav-items .nav-link{
    padding: 12px 20px;
}
.nav-items .nav-link:hover{
    background-color: var(--background-color);
}
/* -----------------------------------------------------reusable css --------------------------------------------------- */
img{
    max-width: 100%;
}
.custom-btn{
    background-color: var(--background-color);
    color: white;
    font-size: 20px;
    text-transform: capitalize;
}
.custom-btn:hover{
    background-color: var(--background-color);
    color: white;
}
h1{
    font-family: 'Hanuman', serif;
    font-size: 40px;
}
p{
    font-size: 18px;
    color: #5a5a5a;
}
.service-title{
    font-family: 'Hanuman', serif;
    font-size: 24px;
}
/* --------------------------------------------------overwrite the bs code------------------------------ */
button.navbar-toggler {
    position: absolute;
    right: 20px;
    top: 10px;
}
.navbar-toggler:focus{
    box-shadow: none;
}
/* ---------------------------------------------------top section starts from here  ------------------------------- */

.top-section{
    background: linear-gradient(#130e1575, #130e1575), url("../img/top-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}
.about-top{
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}
.top-left-content{
    transform: translatey(-50%);
}
.service-icon{
    transition: all .4s;
    border-width: 8px !important;
    padding: 50px;
}
.card{
    transition: .5s;
}
.card:hover{
    box-shadow: 0 0 60px #0000001a
}
.srvices-part:hover .service-icon{
    background: var(--background-color);
    color: white !important;
}
.service-icon{
    color: var(--background-color) !important;
}

/* ---------------------------------------------------- google section--------------------------------------------- */
svg.svg-inline--fa.fa-circle-check{
    color: var(--background-color) !important;
}
.google-section ul li{
    color: var(--gray-text);
}

/* ------------------------------------------------------- offer section starts ----------------------------------- */
.offer-section{
    background: linear-gradient(#ffffffda, #ffffffda), url(../img/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* ---------------------------------------------------------- our service section --------------------------------------- */
.number{
    border-radius: 8px !important;
    position: relative;
    background-color: var(--background-color);
    box-shadow: 5px 5px 20px #04a2c2;
    color: white;
}
.number h3{
    font-size: 50px !important;
}
.number-2{
    background-color: #e64d83 !important;
    box-shadow: -5px 5px 30px #e64d83;
}
.old-mail .service-title{
    color:#e3105a !important;
}
.number-3{
    background: #747AE8;
    box-shadow: -5px 5px 30px #747AE8;
    color: white;
}
.new-mail .service-title{
    color:#04a2c2 !important;
}

.google-voice .service-title{
    color:#747AE8 !important;
}
.arrow {
    top: 4%;
    right: -10%;    transform: rotate(5deg);
    transform: rotate(7deg);
}
.arrow2{
    top: 2%;
    right: -12%;
    transform: rotate(-9deg);
}
.arrow-section{
    margin-left: 100px;
}

/* ---------------------------------------------------------- pricing-tab--------------------------------------------- */
.nav-tabs .nav-item .active{
    background-color: var(--background-color);
    color: white !important;
    box-shadow: none !important;
}







/* -------------------------------------------- footer section ----------------------------------------------------- */
.footer-top{
    background-color: var(--background-color);
}
.custom-border{
    border-color: var(--background-color) !important;
}
.custom-border::before{
    content: "";
    width: 30%;
    height: 5px;
    background-color: var(--background-color);
    position: absolute;
    bottom: -1px;
    left: 0;
}
/* -------------------------------------------- pricing page-----------------------------------------
------------------------------------------------------------------------------------------------------ */
.p-page-top{
    height: 80vh;
    background-color: var(--background-color);
}
.p-top-main{
    transform: translateY(-50%);
}
























































/* ------------------------------------------------------------ responsive max-width 1300px ------------------------------------ */


@media (max-width: 1400px) {
    
    .arrow {
        right: -15%;
    }
    .arrow2{
        right: -15%;
    }
    .arrow-section{
        margin-left: initial !important;
    }
}


/* ------------------------------------------------------------ responsive for 992------------------------------------------ */
@media (max-width: 992px) {
    /* arrow */
    .arrow {
        right: -10%;
    }
    .arrow2{
        right: -10%;
    }
    .arrow-section h3{
        font-size:18px !important;
    }
    
    .arrow-section img{
        width: 70% !important;
    }
    /* .top-section{
        height: initial;
    } */
    .devider a{
        border-bottom: 2px solid black;
    }
    .main-nav-ul{
        flex-direction: column;
    }
    .service-section .service-p{
        width: 100% !important;
    }
    .image-div img{
        max-width: 100%;
        object-fit: cover;
    }
    .container{
        padding: 0 10px !important;
    }
}


/* ------------------------------------------------------------ responsive for 768------------------------------------------ */
@media (max-width: 768px) {
 .header-top {
     display: none !important;
 }
     /* arrow */
     .arrow {
         top: 5%;
        right: 3%;
    }
    .arrow2{
        right: 3%;
        top: -1%;
    }
    .arrow-section img{
        width: 70% !important;
    }
    .number h3{
        font-size: 25px !important;
    }
    .gmail-content h3{
        font-size:15px !important;
    }
    
    .gmail-content p{
        font-size:13px !important;
    }
    .arrow-item-1,.arrow-item-2,.arrow-item-3{
        margin: 0 !important;
    }
    .arrow-section{
        margin-left: 50px !important;
    }
    /* --------------------------------------------------- reusable css --------------------------------------------- */
    p,span{
        font-size: 15px !important;
    }
    h2{
        font-size: 24px !important;
    }
    h1{
        font-size: 30px !important;
    }
    button{
        font-size: 14px !important;
    }
}

/* ------------------------------------------- max-width 576px ------------------------------------- */
@media (max-width: 576px){
      /* arrow */
      .arrow {
        top: 1%;
       right: 3%;
   }
   .arrow2{
       right: 3%;
       top: 3%;
   }

















}
/* ------------------------------------------- max-width 480px ------------------------------------- */
@media (max-width: 480px) {
    .header-top {
        display: none !important;
    }
       .number h3{
           font-size:20px !important;
       }
       .arrow-section img{
        width: 60% !important;
    }
       .gmail-content h3{
           font-size: 12px !important;
       }
       .gmail-content p{
           font-size: 10px;
       }
        /* arrow */
     .arrow {
        right: 5%;
        top: 5%;
    }
    .arrow2{
        right: 10%;
        top: 0;
    }
    .arrow-section{
        justify-content: center;
        margin-left: 0 !important;
  }
}

