*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Hanuman', serif;
    font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
.header-top a{
    color: white !important;
}
nav{
    background-color: #009EDE;
}
nav a{
    color: white !important;
}
/* --------------------------------------------------overwrite the bs code------------------------------ */
button.navbar-toggler {
    position: absolute;
    right: 20px;
    top: 10px;
}
.navbar-toggler:focus{
    box-shadow: none;
}
/* ---------------------------------------------------top section starts from here  ------------------------------- */

.top-section{
    background: linear-gradient(#130e1582, #130e1582), url("../img/top-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}
.about-top{
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}
.top-left-content{
    transform: translatey(-50%);
}
.service-icon{
    transition: all .4s;
    border-width: 8px !important;
    padding: 50px;
}
.card{
    transition: .5s;
}
.card:hover{
    box-shadow: 0 0 60px #0000001a
}
.srvices-part:hover .service-icon{
    background: #009EDE;
    color: white !important;
}














/* ------------------------------------------------------------ responsive for 992------------------------------------------ */
@media (max-width: 992px) {
    .devider a{
        border-bottom: 2px solid black;
    }
    .main-nav-ul{
        flex-direction: column;
    }
    .service-section .service-p{
        width: 100% !important;
    }
    .image-div img{
        max-width: 100%;
        object-fit: cover;
    }
}


/* ------------------------------------------------------------ responsive for 767------------------------------------------ */
@media (max-width: 767px) {
 .header-top {
     display: none !important;
 }
}